<%- include("partials/header"); -%>
   
   <table style="width:100%">
   <thead>
   <tr>
    <th>Bus ID</th>
    <th>Bus Name</th>
    <th>Bus Time</th>
   </tr>
   </thead>
   <tbody>
  
   <tr>
    <td>1</td>
    <td>B12</td>
    <td>10 am</td>
  </tr>

   
   </tbody>

</table>

</body>
</html>